{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Students{% endblock page_title %}
{% block content %}
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
            <div class="x_title">
                <h2>Manage Students</h2>
                <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-student-modal">
                    <i class="fa fa-plus"></i>
                    Add Student
                </button> 

                <a href="{% url 'download_student_template' %}"> 
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-download"></i>
                        Download Template
                    </button>
                </a>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bulk-upload-modal">
                    <i class="fa fa-upload"></i>
                    Bulk Upload
                </button>

                <!-- start Student list -->
                <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
                    <thead>
                      <tr>
                        <th>
                           <th><input type="checkbox" id="check-all" ></th>
                        </th>
                        <th style="width: 1%">#</th>
                        <th>ID No.</th>
                        <th>Student Name</th>
                        <th>Gender</th>
                        <th>Class</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>
                            <th><input type="checkbox" id="check-all" ></th>
                         </td>
                        <td>{{forloop.counter}}</td>
                        <td>{{student.reg_no}}</td>
                        <td>
                            {% if student.photo %}
                                <img src="{{student.photo.url}}" class="avatar" alt="Avatar">  
                            {% endif %}
                            
                            {{student.student_name}}
                        </td>
                        <td>
                            {{student.gender}}
                        </td>
                        <td>
                            {{student.current_class.code}}
                        </td>
                        <td>
                            <a href="{% url 'edit_student_page' student.id %}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'delete_student_page' student.id %}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this Record?')">
                            <i class="fa fa-trash-o"> </i> 
                        </td>
                    </tr>
                    {%empty%}
                        <div class="card">
                            <div class="card-body">
                                <h4><center>No Student Available</center></h4>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
                </table>
                <!-- end class list -->
            </div>
            </div>
        </div>
    </div>

    <!-- Add student Modal -->
    <div class="modal fade add-student-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Add Student</h4>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'add_student' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{student_form|crispy}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>

          </div>
        </div>
    </div>

    <!-- Bulk Upload Modal -->
    <div class="modal fade bulk-upload-modal" tabindex="0" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Bulk Upload</h4>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'bulk_student_registration' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{csv_form}}

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>

          </div>
        </div>
      </div>
{% endblock content%}