{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}{{academic_class}}{% endblock page_title %}
{% block content %}
    <div class="clearfix"></div>

    <div class="x_content">
        
        <div class="col-md-3 col-sm-3  profile_left">
            <div class="profile_img">
              <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar">
              </div>
            </div>
            <h3>Samuel Okello</h3>

            <ul class="list-unstyled user_data">
              <li><i class="fa fa-map-marker user-profile-icon"></i> Eng, SST
              </li>

              <li>
                <i class="fa fa-briefcase user-profile-icon"></i> Grade II
              </li>
            </ul>

            <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>View Profile</a>
            <br />

            <!-- start skills -->
            <h4>Skills</h4>
            <ul class="list-unstyled user_data"></ul>
            <!-- end of skills -->

          </div>
          <div class="col-md-9 col-sm-9 ">

            <div class="profile_title">
                {% comment %} <h2></h2> {% endcomment %}
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Streams</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="btn" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="fa fa-plus"> 
                                    Add Stream
                                </i>
                            </a>
                        </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start Stream list -->
                        <table class="table table-striped projects">
                          <thead>
                              <tr>
                              <th style="width: 1%">#</th>
                              <th>Stream</th>
                              <th>Class Teacher</th>
                              <th >Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for stream in class_streams %}
                              <tr>
                                  <td>{{stream.id}}</td>
                                  <td>
                                      {{stream.stream}}
                                  </td>
                                  <td>
                                      {{stream.class_teacher}}
                                  </td>
                                  <td>
                                      <a href="" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                      <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                  </td>
                              </tr>
                              {%empty%}
                                <center><p>No Stream</p></center>
                              {% endfor %}
                          </tbody>
                        </table>
                        <!-- end stream list -->
                    </div>
        
                </div>
              
              </div>
            </div>
            <!-- start of user-activity-graph -->
            <div id="graph_bar" style="width:100%; height:280px;"></div>
            <!-- end of user-activity-graph -->

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Register</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Attendance</a>
                </li>
                <li role="presentation" class=""><a href="#bills-tab" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Bill Items</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                  <!-- start recent activity -->
                  {% include "classes/class_register.html" %}
                  <!-- end recent activity -->

                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                  <!-- start user projects -->
                  <table class="data table table-striped no-margin">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Project Name</th>
                        <th>Client Company</th>
                        <th class="hidden-phone">Hours Spent</th>
                        <th>Contribution</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>New Company Takeover Review</td>
                        <td>Deveint Inc</td>
                        <td class="hidden-phone">18</td>
                        <td class="vertical-align-mid">
                          <div class="progress">
                            <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                          </div>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <!-- end user projects -->

                </div>
                <div role="tabpanel" class="tab-pane fade" id="bills-tab" aria-labelledby="profile-tab">
                  {% include "fees/class_bill_items.html" %}
                </div>
              </div>
            </div>
          </div>
        
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Add Academic Class</h4>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'add_class_stream_page' academic_class.id %}">
                    {% csrf_token %}
                    {{class_stream_form|crispy}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>

          </div>
        </div>
      </div>
{% endblock content%}