{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Staff Details{% endblock page_title %}

{% block content %}
<div class="x_content">
  <div class="col-md-3 col-sm-3 profile_left">
    <div class="profile_img">
      <div id="crop-avatar">
        <img class="img-responsive img-fluid" src="{{ staff.staff_photo.url }}" alt="Staff Photo">
      </div>
    </div>
    <h3>{{ staff }}</h3>

    <ul class="list-unstyled user_data">
      <li><i class="fa fa-map-marker user-profile-icon"></i> {{ staff.address }}</li>
      <li><i class="fa fa-briefcase user-profile-icon"></i> {{ staff.department }}</li>
      <li><i class="fa fa-phone user-profile-icon"></i> {{ staff.contacts }}</li>
      <li><i class="fa fa-envelope user-profile-icon"></i> {{ staff.email }}</li>
    </ul>

    <a href="{% url 'edit_staff_details_page' staff.id %}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
    <a href="{% url 'delete_staff_page' staff.id %}" class="btn btn-danger btn-xs" onclick="return confirm('Delete this record?')"><i class="fa fa-trash-o"></i></a>
  </div>

  <div class="col-md-9 col-sm-9">
    <div class="profile_title">
      <h2>Assigned Classes & Subjects</h2>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Class</th>
          <th>Subjects</th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in teaching_assignments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ assignment.academic_class.name }}</td>
            <td>
              {% for subject in assignment.subjects.all %}
                {{ subject.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No assignments found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="tab-content mt-4">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#qualifications" data-toggle="tab">Qualifications</a></li>
        <li><a href="#documents" data-toggle="tab">Documents</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="qualifications">
          <ul class="messages">
            <li>
              <div class="message_wrapper">
                <h4 class="heading">{{ staff.qualification }}</h4>
                <blockquote class="message">Further qualifications or certifications can be added here.</blockquote>
              </div>
            </li>
          </ul>
        </div>

        <div class="tab-pane" id="documents">
          <p>No documents uploaded.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
