{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Staff Details{% endblock page_title %}

{% block content %}
<div class="x_content">
  <div class="col-md-3 col-sm-3 profile_left">
    <div class="profile_img">
      <div id="crop-avatar">
        <img class="img-responsive img-fluid" src="{{ staff.staff_photo.url }}" alt="Staff Photo">
      </div>
    </div>
    <h3>{{ staff }}</h3>

    <ul class="list-unstyled user_data">
      <li><i class="fa fa-map-marker user-profile-icon"></i> {{ staff.address }}</li>
      <li><i class="fa fa-briefcase user-profile-icon"></i> {{ staff.department }}</li>
      <li><i class="fa fa-phone user-profile-icon"></i> {{ staff.contacts }}</li>
      <li><i class="fa fa-envelope user-profile-icon"></i> {{ staff.email }}</li>
    </ul>

    {% if user.staff_account.role.name == "Admin" %}
      <a href="{% url 'edit_staff_details_page' staff.id %}" class="btn btn-primary btn-xs">
        <i class="fa fa-edit"></i> Edit
      </a>
      <a href="{% url 'delete_staff_page' staff.id %}" class="btn btn-danger btn-xs" onclick="return confirm('Delete this record?')">
        <i class="fa fa-trash-o"></i> Delete
      </a>
    {% endif %}
  </div>

  <div class="col-md-9 col-sm-9">
    <div class="profile_title">
      <h2>Assigned Classes & Subjects</h2>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Class</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in teaching_assignments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ assignment.academic_class_stream }}</td>
            <td>{{ assignment.subject }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No assignments found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="tab-content mt-4">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#qualifications" data-toggle="tab">Qualifications</a></li>
        <li><a href="#documents" data-toggle="tab">Documents</a></li>
      </ul>

      <div class="tab-content">
        <!-- Qualifications -->
        <div class="tab-pane active" id="qualifications">
          <ul class="messages">
            <li>
              <div class="message_wrapper">
                <h4 class="heading">{{ staff.qualification }}</h4>
                <blockquote class="message">Further qualifications or certifications can be added here.</blockquote>
              </div>
            </li>
          </ul>
        </div>

        <!-- Documents -->
        <div class="tab-pane" id="documents">
          <h4>Documents</h4>
          {% if staff_documents %}
              <ul class="list-group">
                  {% for document in staff_documents %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span>{{ document.document_type }}</span>
                          <div>
                            <a href="{{ document.file.url }}" target="_blank" class="btn btn-sm btn-info">
                                <i class="fa fa-paperclip"></i> View
                            </a>
                            {% if user.staff_account.role.name == "Admin" %}
                              <a href="{% url 'delete_staff_document' document.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this document?');">
                                  <i class="fa fa-trash-o"></i> Delete
                              </a>
                            {% endif %}
                          </div>
                      </li>
                  {% endfor %}
              </ul>
          {% else %}
              <p>No documents uploaded.</p>
          {% endif %}
          
          <hr>

          <!-- Upload Form -->
          {% if user.staff_account.role.name == "Admin" %}
            <h5>Upload New Document</h5>
            <form method="post" action="{% url 'upload_staff_document' staff.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="document_type">Document Type:</label>
                    <input type="text" class="form-control" name="document_type" required>
                </div>
                <div class="form-group">
                    <label for="file">Upload File:</label>
                    <input type="file" class="form-control" name="file" required>
                </div>
                <button type="submit" class="btn btn-success mt-2">
                    <i class="fa fa-upload"></i> Upload Document
                </button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
