<!-- 
{% block sidebar %}

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.first_name }}</p>
        <p>User role: {{ user.staff_account.role.name }}</p>

        {% if user.staff_account.role.name == "admin" %}
            {% include 'admin_dashboard.html' %}
        {% elif user.staff_account.role.name == "teacher" %}
            {% include 'teacher_dashboard.html' %}
        {% elif user.staff_account.role.name == "bursar" %}
            {% include 'bursar_dashboard.html' %}
        {% elif user.staff_account.role.name == "director_of_studies" %}
            {% include 'dos_dashboard.html' %}
        {% elif user.staff_account.role.name == "headmaster" %}
            {% include 'headteacher_dashboard.html' %}
        {% elif user.staff_account.role.name == "class_teacher" %}
            {% include 'class_teacher_dashboard.html' %}
        {% else %}
            <p>No dashboard available for your role.</p>
        {% endif %}
    {% else %}
        <p>Please log in to access your dashboard.</p>
    {% endif %}



{% endblock %} -->